<section>
  <section style="text-align: center; word-wrap: break-word !important">
    <section style="margin-right: auto; margin-left: auto">
      <section
        style="
          white-space: normal;
          font-size: 17px;
          letter-spacing: 0.544px;
          text-align: justify;
          widows: 1;
        "
      >
        <section
          style="
            box-sizing: border-box !important;
            word-wrap: break-word !important;
          "
        >
          <section
            style="
              margin-right: auto;
              margin-left: auto;
              text-align: center;
              box-sizing: border-box !important;
              word-wrap: break-word !important;
            "
          >
            <section
              style="
                margin-right: auto;
                margin-left: auto;
                display: inline-block;
                width: 60px;
                height: 60px;
                background-image: url('https://wximg.yiban.io/img_proxy?src=http://mmbiz.qpic.cn/sz_mmbiz_gif/qU6SzsqCEWraT2ZHfZHKOwSCqGVIg6RTg4ya1RqnUc7GvNticHGveVyJEbtJTAOFfuhJAmT7rpwLRP6icEh4qqcQ/0');
                background-size: 100%;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                box-sizing: border-box !important;
                word-wrap: break-word !important;
              "
            >
              <section
                style="
                  margin-right: auto;
                  margin-left: auto;
                  min-height: 1em;
                  line-height: 60px;
                  font-size: 18px;
                  font-weight: 600;
                  box-sizing: border-box !important;
                  word-wrap: break-word !important;
                "
              >
                <span style="color: #b18850">1</span>
              </section>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
