<section style="max-width: 100%">
  <section
    style="
      max-width: 100%;
      text-align: center;
      box-sizing: border-box !important;
      word-wrap: break-word !important;
    "
  >
    <section style="margin-right: auto; margin-left: auto; max-width: 100%">
      <p
        style="
          color: rgb(51, 51, 51);
          margin-right: 16px;
          margin-left: 16px;
          white-space: normal;
          max-width: 100%;
          min-height: 1em;
        "
      >
        <span
          style="
            max-width: 100%;
            font-size: 14px;
            color: rgb(0, 0, 0);
            box-sizing: border-box !important;
            word-wrap: break-word !important;
          "
        ></span>
      </p>
      <section
        style="
          white-space: normal;
          max-width: 100%;
          font-size: 17px;
          letter-spacing: 0.544px;
          text-align: justify;
          widows: 1;
        "
      >
        <section
          style="
            max-width: 100%;
            box-sizing: border-box !important;
            word-wrap: break-word !important;
          "
        >
          <section
            style="
              margin-right: auto;
              margin-left: auto;
              max-width: 100%;
              text-align: center;
              box-sizing: border-box !important;
              word-wrap: break-word !important;
            "
          >
            <section
              style="
                margin-right: auto;
                margin-left: auto;
                max-width: 100%;
                display: inline-block;
                width: 60px;
                height: 60px;
                background-image: url('https://wximg.yiban.io/img_proxy?src=http://mmbiz.qpic.cn/sz_mmbiz_gif/qU6SzsqCEWraT2ZHfZHKOwSCqGVIg6RTg4ya1RqnUc7GvNticHGveVyJEbtJTAOFfuhJAmT7rpwLRP6icEh4qqcQ/0');
                background-size: 100%;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                box-sizing: border-box !important;
                word-wrap: break-word !important;
              "
            >
              <section
                style="
                  margin-right: auto;
                  margin-left: auto;
                  max-width: 100%;
                  min-height: 1em;
                  line-height: 60px;
                  font-size: 18px;
                  font-weight: 600;
                  box-sizing: border-box !important;
                  word-wrap: break-word !important;
                "
              >
                <span style="color: #b18850">1</span>
              </section>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
