<section style="font-size: 16px">
  <section>
    <section>
      <section>
        <section style="width: 100%; margin-bottom: -30px; text-align: center">
          <section
            style="
              width: 64px;
              height: 64px;
              background: #fefefe;
              border-radius: 50%;
              margin-right: auto;
              margin-left: auto;
              display: inline-block;
            "
          >
            <section style="display: inline-block; width: 32px">
              <img
                style="margin: 18px 0px 0px; width: 32px !important"
                src="https://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvN1FSVHZrSzJxQzYzYzAybUtjc2ZBYUo4c05jaWNUdmcyMlVrSEhpYnZLaWFzRlM5RlM2RTRGZVYwRGliZTdhczdoNHRtOHA3RWZOZkkwNmFkbEdiTDJpY1lqdy8wP3d4X2ZtdD1wbmc="
                width="2rem"
                border="0"
              />
            </section>
          </section>
        </section>
        <section
          style="
            font-size: 14px;
            color: #b0b0b1;
            padding: 30px;
            background-color: #f2f4f5;
            border-radius: 10px;
            margin-top: -16px;
            box-sizing: border-box;
          "
        >
          <section
            style="
              text-align: justify;
              letter-spacing: 1.5px;
              line-height: 1.75em;
              margin-bottom: 15px;
              margin-top: 15px;
            "
            align="justify"
          >
            <p>
              <span style="color: #5a5a5a"
                >由于疫情，为阻断新型冠状病毒肺炎，避免疫情向校园蔓延，全国各地学校幼儿园延期开学。</span
              >
            </p>
          </section>
          <section
            style="
              text-align: justify;
              letter-spacing: 1.5px;
              line-height: 1.75em;
              margin-bottom: 15px;
              margin-top: 15px;
            "
            align="justify"
          >
            <p>
              <span style="color: #5a5a5a"
                >幼儿园也希望在这样的特殊时期，做好自己应该做的事情，为抗击疫情出一份力。那么，幼儿园如何应对疫情，有什么预防与应对措施？</span
              >
            </p>
          </section>
        </section>
      </section>
    </section>
    <section style="height: 0px; overflow: hidden"></section>
    <section>
      <p><br /></p>
    </section>
    <section>
      <section style="text-align: center; margin: 0 auto">
        <section
          align="center"
          style="
            margin-bottom: -5px;
            text-align: center;
            font-size: 36px;
            line-height: 1em;
          "
        >
          <p>
            <span style="color: #5a5a5a"><strong>1</strong></span>
          </p>
        </section>
        <section
          style="
            border-top: 1px solid rgb(202, 202, 202);
            width: 60px;
            height: 1px;
            display: inline-block;
            overflow: hidden;
            box-sizing: border-box;
          "
        ></section>
        <section
          style="
            text-align: center;
            line-height: 2em;
            font-size: 22px;
            letter-spacing: 3px;
          "
          align="center"
        >
          <p>
            <span style="font-size: 18px; color: #5a5a5a"
              ><strong>建立工作体系</strong></span
            >
          </p>
        </section>
      </section>
    </section>
    <section>
      <section>
        <section style="margin: 10px auto">
          <section
            style="
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
            "
          >
            <section style="width: 8px; margin-top: 6px">
              <section
                style="
                  width: 8px;
                  height: 8px;
                  background: #b7dde8;
                  border-radius: 100%;
                  overflow: hidden;
                "
              ></section>
            </section>
            <section
              style="
                font-size: 14px;
                text-align: justify;
                letter-spacing: 1.5px;
                line-height: 1.75em;
                color: #3e3e3e;
                padding: 0px 6px;
                margin-top: -3px;
                box-sizing: border-box;
              "
            >
              <section style="margin-bottom: 15px; line-height: 1.75em">
                <p>
                  <span style="color: #5a5a5a"
                    >成立疫情防控工作领导小组，由学校一把手任组长，成员为领导班子、相关负责人等，全面负责防控工作的组织领导和督查督办。</span
                  >
                </p>
              </section>
            </section>
          </section>
          <section
            style="
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              margin-top: 5px;
            "
          >
            <section style="width: 8px; margin-top: 6px">
              <section
                style="
                  width: 8px;
                  height: 8px;
                  background: #b7dde8;
                  border-radius: 100%;
                  overflow: hidden;
                "
              ></section>
            </section>
            <section
              style="
                font-size: 14px;
                text-align: justify;
                letter-spacing: 1.5px;
                line-height: 1.75em;
                color: #3e3e3e;
                padding: 0px 6px;
                margin-top: -3px;
                box-sizing: border-box;
                margin-bottom: 15px;
                line-height: 1.75em;
              "
            >
              <p>
                <span style="color: #5a5a5a"
                  >下设疫情防控组、综合协调组、物资保障组、宣传引导组和工作督查组等专项工作组。明确职责分工，责任到岗，任务到人。</span
                >
              </p>
            </section>
          </section>
          <section>
            <section
              style="
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-top: 5px;
              "
            >
              <section style="width: 8px; margin-top: 6px">
                <section
                  style="
                    width: 8px;
                    height: 8px;
                    background: #b7dde8;
                    border-radius: 100%;
                    overflow: hidden;
                  "
                ></section>
              </section>
              <section
                style="
                  font-size: 14px;
                  text-align: justify;
                  letter-spacing: 1.5px;
                  line-height: 1.75em;
                  color: #3f3e3f;
                  padding: 0px 6px;
                  margin-top: -3px;
                  box-sizing: border-box;
                  margin-bottom: 15px;
                  line-height: 1.75em;
                "
              >
                <p>
                  <span style="color: #5a5a5a"
                    >加强与属地疾控部门、医疗部门的沟通联系，取得专业技术支持；加强与属地镇（乡）街道、村社的联防联控。</span
                  >
                </p>
              </section>
            </section>
          </section>
        </section>
      </section>
    </section>
    <section style="height: 0px; overflow: hidden"></section>
    <section>
      <section
        style="
          height: 50px;
          box-sizing: border-box;
          color: inherit;
          margin-bottom: -20px;
        "
      >
        <section
          style="
            height: 100%;
            width: 50px;
            border-top: 2px solid #c6c6c7;
            border-right-color: #c6c6c7;
            border-bottom-color: #c6c6c7;
            border-left: 2px solid #c6c6c7;
            box-sizing: border-box;
            color: inherit;
            overflow: hidden;
          "
        ></section>
        <section
          style="
            display: inline-block;
            color: #ac1d10;
            clear: both;
            box-sizing: border-box;
            border-color: #ac1d10;
            height: 0px;
            overflow: hidden;
          "
        ></section>
      </section>
      <section
        style="margin: -45px 0.3em 0px; padding: 0.8em; box-sizing: border-box"
      >
        <p>
          <img
            style="width: auto; margin: 0px"
            src="https://bdn.135editor.com/files/images/20200724/618560e5cda4d9d8f9cc91900ab74c09.jpg"
            data-ratio="0.5913140311804009"
            data-op="change"
            title=""
            alt=""
            data-w="898"
          />
        </p>
      </section>
      <section
        style="
          height: 50px;
          box-sizing: border-box;
          color: inherit;
          margin-top: -45px;
        "
      >
        <section
          style="
            height: 100%;
            width: 50px;
            float: right;
            border-bottom: 2px solid #c6c6c7;
            border-top-color: #c6c6c7;
            border-right: 2px solid #c6c6c7;
            border-left-color: #c6c6c7;
            box-sizing: border-box;
            color: inherit;
            overflow: hidden;
          "
        ></section>
      </section>
    </section>
    <section>
      <p><br /></p>
    </section>
    <section>
      <section style="text-align: center; margin: 0 auto">
        <section
          align="center"
          style="
            margin-bottom: -5px;
            text-align: center;
            font-size: 36px;
            line-height: 1em;
          "
        >
          <p>
            <span style="color: #5a5a5a"><strong>2</strong></span>
          </p>
        </section>
        <section
          style="
            border-top: 1px solid #cacaca;
            width: 60px;
            height: 1px;
            display: inline-block;
            overflow: hidden;
            box-sizing: border-box;
          "
        ></section>
        <section
          style="
            text-align: center;
            line-height: 2em;
            font-size: 22px;
            letter-spacing: 3px;
          "
          align="center"
        >
          <p>
            <span style="font-size: 18px; color: #5a5a5a"
              ><strong>健全工作制度</strong></span
            >
          </p>
        </section>
      </section>
    </section>
    <section>
      <section style="margin: 10px auto">
        <section
          style="
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          "
        >
          <section style="width: 8px; margin-top: 6px">
            <section
              style="
                width: 8px;
                height: 8px;
                background: #b7dde8;
                border-radius: 100%;
                overflow: hidden;
              "
            ></section>
          </section>
          <section
            style="
              font-size: 14px;
              text-align: justify;
              letter-spacing: 1.5px;
              line-height: 1.75em;
              color: #ffffff;
              padding: 0px 6px;
              margin-top: -3px;
              box-sizing: border-box;
              line-height: 1.75em;
            "
          >
            <p>
              <span style="color: #5a5a5a"
                >严格落实值班制度，制定完善开学准备工作方案、疫情防控应急预案、疫情报告制度、晨检制度。</span
              >
            </p>
            <p><br /></p>
          </section>
        </section>
      </section>
    </section>
    <section>
      <section style="margin: 10px auto">
        <section
          style="
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          "
        >
          <section style="width: 8px; margin-top: 6px">
            <section
              style="
                width: 8px;
                height: 8px;
                background: #b7dde8;
                border-radius: 100%;
                overflow: hidden;
              "
            ></section>
          </section>
          <section
            style="
              font-size: 14px;
              text-align: justify;
              letter-spacing: 1.5px;
              line-height: 1.75em;
              color: #ffffff;
              padding: 0px 6px;
              margin-top: -3px;
              box-sizing: border-box;
              line-height: 1.75em;
            "
          >
            <p>
              <span style="color: #5a5a5a"
                >因病缺勤登记及追踪制度、复课证明查验制度、学生健康管理制度、环境卫生检查通报制度、健康教育制度、通风消毒制度等各项疫情防控工作制度。</span
              >
            </p>
            <p><br /></p>
          </section>
        </section>
      </section>
    </section>
    <section>
      <p><br /></p>
    </section>
    <section>
      <section
        style="
          height: 50px;
          box-sizing: border-box;
          color: inherit;
          margin-bottom: -20px;
        "
      >
        <section
          style="
            height: 100%;
            width: 50px;
            border-top: 2px solid #c6c6c7;
            border-right-color: #c6c6c7;
            border-bottom-color: #c6c6c7;
            border-left: 2px solid #c6c6c7;
            box-sizing: border-box;
            color: inherit;
            overflow: hidden;
          "
        ></section>
        <section
          style="
            display: inline-block;
            color: #ac1d10;
            clear: both;
            box-sizing: border-box;
            border-color: #ac1d10;
            height: 0px;
            overflow: hidden;
          "
        ></section>
      </section>
      <section
        style="margin: -45px 0.3em 0px; padding: 0.8em; box-sizing: border-box"
      >
        <p>
          <img
            style="width: auto; margin: 0px"
            src="https://bdn.135editor.com/files/images/20200724/618560e5cda4d9d8f9cc91900ab74c09.jpg"
            data-ratio="0.5913140311804009"
            data-op="change"
            title=""
            alt=""
            data-w="898"
          />
        </p>
      </section>
      <section
        style="
          height: 50px;
          box-sizing: border-box;
          color: inherit;
          margin-top: -45px;
        "
      >
        <section
          style="
            height: 100%;
            width: 50px;
            float: right;
            border-bottom: 2px solid #c6c6c7;
            border-top-color: #c6c6c7;
            border-right: 2px solid #c6c6c7;
            border-left-color: #c6c6c7;
            box-sizing: border-box;
            color: inherit;
            overflow: hidden;
          "
        ></section>
      </section>
    </section>
    <section>
      <p><br /></p>
    </section>
    <section>
      <section style="text-align: center; margin: 0 auto">
        <section
          align="center"
          style="
            margin-bottom: -5px;
            text-align: center;
            font-size: 36px;
            line-height: 1em;
          "
        >
          <p>
            <span style="color: #5a5a5a"><strong>3</strong></span>
          </p>
        </section>
        <section
          style="
            border-top: 1px solid #cacaca;
            width: 60px;
            height: 1px;
            display: inline-block;
            overflow: hidden;
            box-sizing: border-box;
          "
        ></section>
        <section
          style="
            text-align: center;
            line-height: 2em;
            font-size: 22px;
            letter-spacing: 3px;
          "
          align="center"
        >
          <p>
            <span style="font-size: 18px; color: #5a5a5a"
              ><strong>储备防控物资</strong></span
            >
          </p>
        </section>
      </section>
    </section>
    <section>
      <section style="margin: 10px auto">
        <section
          style="
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          "
        >
          <section style="width: 8px; margin-top: 6px">
            <section
              style="
                width: 8px;
                height: 8px;
                background: #b7dde8;
                border-radius: 100%;
                overflow: hidden;
              "
            ></section>
          </section>
          <section
            style="
              font-size: 14px;
              text-align: justify;
              letter-spacing: 1.5px;
              line-height: 1.75em;
              color: #ffffff;
              padding: 0px 6px;
              margin-top: -3px;
              box-sizing: border-box;
              line-height: 1.75em;
            "
          >
            <p>
              <span style="color: #5a5a5a"
                >除上级部门统一调配的防控物资外，各校要多渠道筹集防控物资，抓紧配齐红外线额温枪、消杀用品（如泡腾片等含氯消毒剂）、防护用品（口罩）、喷洒工具等物资。严防假冒伪劣产品流入校园。</span
              >
            </p>
            <p><br /></p>
          </section>
        </section>
      </section>
    </section>
    <section>
      <section style="margin: 10px auto">
        <section
          style="
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          "
        >
          <section style="width: 8px; margin-top: 6px">
            <section
              style="
                width: 8px;
                height: 8px;
                background: #b7dde8;
                border-radius: 100%;
                overflow: hidden;
              "
            ></section>
          </section>
          <section
            style="
              font-size: 14px;
              text-align: justify;
              letter-spacing: 1.5px;
              line-height: 1.75em;
              color: #ffffff;
              padding: 0px 6px;
              margin-top: -3px;
              box-sizing: border-box;
            "
          >
            <p>
              <span style="color: #5a5a5a"
                >采购流程要符合规范，购置经费在单位公用经费中列支。</span
              >
            </p>
          </section>
        </section>
      </section>
    </section>
    <section>
      <p><br /></p>
    </section>
    <section>
      <section
        style="
          height: 50px;
          box-sizing: border-box;
          color: inherit;
          margin-bottom: -20px;
        "
      >
        <section
          style="
            height: 100%;
            width: 50px;
            border-top: 2px solid #c6c6c7;
            border-right-color: #c6c6c7;
            border-bottom-color: #c6c6c7;
            border-left: 2px solid #c6c6c7;
            box-sizing: border-box;
            color: inherit;
            overflow: hidden;
          "
        ></section>
        <section
          style="
            display: inline-block;
            color: #ac1d10;
            clear: both;
            box-sizing: border-box;
            border-color: #ac1d10;
            height: 0px;
            overflow: hidden;
          "
        ></section>
      </section>
      <section
        style="margin: -45px 0.3em 0px; padding: 0.8em; box-sizing: border-box"
      >
        <p>
          <img
            style="width: auto; margin: 0px"
            src="https://bdn.135editor.com/files/images/20200724/618560e5cda4d9d8f9cc91900ab74c09.jpg"
            data-ratio="0.5913140311804009"
            data-op="change"
            title=""
            alt=""
            data-w="898"
          />
        </p>
      </section>
      <section
        style="
          height: 50px;
          box-sizing: border-box;
          color: inherit;
          margin-top: -45px;
        "
      >
        <section
          style="
            height: 100%;
            width: 50px;
            float: right;
            border-bottom: 2px solid #c6c6c7;
            border-top-color: #c6c6c7;
            border-right: 2px solid #c6c6c7;
            border-left-color: #c6c6c7;
            box-sizing: border-box;
            color: inherit;
            overflow: hidden;
          "
        ></section>
      </section>
    </section>
    <section>
      <p><br /></p>
    </section>
    <section>
      <section style="text-align: center; margin: 0 auto">
        <section
          align="center"
          style="
            margin-bottom: -5px;
            text-align: center;
            font-size: 36px;
            line-height: 1em;
          "
        >
          <p>
            <span style="color: #5a5a5a"><strong>4</strong></span>
          </p>
        </section>
        <section
          style="
            border-top: 1px solid #cacaca;
            width: 60px;
            height: 1px;
            display: inline-block;
            overflow: hidden;
            box-sizing: border-box;
          "
        ></section>
        <section
          style="
            text-align: center;
            line-height: 2em;
            font-size: 22px;
            letter-spacing: 3px;
          "
          align="center"
        >
          <p>
            <span style="font-size: 18px; color: #5a5a5a"
              ><strong>确保校园安全</strong></span
            >
          </p>
        </section>
      </section>
    </section>
    <section>
      <section style="margin: 10px auto">
        <section
          style="
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          "
        >
          <section style="width: 8px; margin-top: 6px">
            <section
              style="
                width: 8px;
                height: 8px;
                background: #b7dde8;
                border-radius: 100%;
                overflow: hidden;
              "
            ></section>
          </section>
          <section
            style="
              font-size: 14px;
              text-align: justify;
              letter-spacing: 1.5px;
              line-height: 1.75em;
              color: #3e3e3e;
              padding: 0px 6px;
              margin-top: -3px;
              box-sizing: border-box;
              margin-bottom: 15px;
            "
          >
            <p>
              <span style="color: #5a5a5a"
                >开展一次全校环境清洁整治及消毒工作，彻底消除疫情防控隐患</span
              >
            </p>
          </section>
        </section>
        <section
          style="
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 5px;
          "
        >
          <section style="width: 8px; margin-top: 6px">
            <section
              style="
                width: 8px;
                height: 8px;
                background: #b7dde8;
                border-radius: 100%;
                overflow: hidden;
              "
            ></section>
          </section>
          <section
            style="
              font-size: 14px;
              text-align: justify;
              letter-spacing: 1.5px;
              line-height: 1.75em;
              color: #3e3e3e;
              padding: 0px 6px;
              margin-top: -3px;
              box-sizing: border-box;
              margin-bottom: 15px;
            "
          >
            <p>
              <span style="color: #5a5a5a"
                >做好食堂、饮用水的安全监管，设置充足的洗手水龙头，配备足够的洗手液或肥皂。</span
              >
            </p>
          </section>
        </section>
        <section>
          <section
            style="
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              margin-top: 5px;
            "
          >
            <section style="width: 8px; margin-top: 6px">
              <section
                style="
                  width: 8px;
                  height: 8px;
                  background: #b7dde8;
                  border-radius: 100%;
                  overflow: hidden;
                "
              ></section>
            </section>
            <section
              style="
                font-size: 14px;
                text-align: justify;
                letter-spacing: 1.5px;
                line-height: 1.75em;
                color: #3f3e3f;
                padding: 0px 6px;
                margin-top: -3px;
                box-sizing: border-box;
                margin-bottom: 15px;
              "
            >
              <p>
                <span style="color: #5a5a5a"
                  >设立隔离观察室，用于暂留晨（午）检中发现体温异常的师生，避免交叉感染。</span
                >
              </p>
            </section>
          </section>
        </section>
      </section>
    </section>
    <section>
      <section
        style="
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          margin-top: 5px;
        "
      >
        <section style="width: 8px; margin-top: 6px">
          <section
            style="
              width: 8px;
              height: 8px;
              background: #b7dde8;
              border-radius: 100%;
              overflow: hidden;
            "
          ></section>
        </section>
        <section
          style="
            font-size: 14px;
            text-align: justify;
            letter-spacing: 1.5px;
            line-height: 1.75em;
            color: #3f3e3f;
            padding: 0px 6px;
            margin-top: -3px;
            box-sizing: border-box;
            margin-bottom: 15px;
          "
        >
          <p>
            <span style="color: #5a5a5a"
              >实行校园全封闭管理，除应急值班值守人员外，禁止其他人员进入校园。确因防控需要进入校园的，要严格履行报批，实名登记并接受检测。</span
            >
          </p>
        </section>
      </section>
    </section>
    <section>
      <p><br /></p>
    </section>
    <section>
      <section
        style="
          height: 50px;
          box-sizing: border-box;
          color: inherit;
          margin-bottom: -20px;
        "
      >
        <section
          style="
            height: 100%;
            width: 50px;
            border-top: 2px solid #c6c6c7;
            border-right-color: #c6c6c7;
            border-bottom-color: #c6c6c7;
            border-left: 2px solid #c6c6c7;
            box-sizing: border-box;
            color: inherit;
            overflow: hidden;
          "
        ></section>
        <section
          style="
            display: inline-block;
            color: #ac1d10;
            clear: both;
            box-sizing: border-box;
            border-color: #ac1d10;
            height: 0px;
            overflow: hidden;
          "
        ></section>
      </section>
      <section
        style="margin: -45px 0.3em 0px; padding: 0.8em; box-sizing: border-box"
      >
        <p>
          <img
            style="width: auto; margin: 0px"
            src="https://bdn.135editor.com/files/images/20200724/618560e5cda4d9d8f9cc91900ab74c09.jpg"
            data-ratio="0.5913140311804009"
            data-op="change"
            title=""
            alt=""
            data-w="898"
          />
        </p>
      </section>
      <section
        style="
          height: 50px;
          box-sizing: border-box;
          color: inherit;
          margin-top: -45px;
        "
      >
        <section
          style="
            height: 100%;
            width: 50px;
            float: right;
            border-bottom: 2px solid #c6c6c7;
            border-top-color: #c6c6c7;
            border-right: 2px solid #c6c6c7;
            border-left-color: #c6c6c7;
            box-sizing: border-box;
            color: inherit;
            overflow: hidden;
          "
        ></section>
      </section>
    </section>
    <section>
      <p><br /></p>
    </section>
    <section>
      <section style="text-align: center; margin: 0 auto">
        <section
          align="center"
          style="
            margin-bottom: -5px;
            text-align: center;
            font-size: 36px;
            line-height: 1em;
          "
        >
          <p>
            <span style="color: #5a5a5a"><strong>5</strong></span>
          </p>
        </section>
        <section
          style="
            border-top: 1px solid #cacaca;
            width: 60px;
            height: 1px;
            display: inline-block;
            overflow: hidden;
            box-sizing: border-box;
          "
        ></section>
        <section
          style="
            text-align: center;
            line-height: 2em;
            font-size: 22px;
            letter-spacing: 3px;
          "
          align="center"
        >
          <p>
            <span style="font-size: 18px; color: #5a5a5a"
              ><strong>落实教工到岗</strong></span
            >
          </p>
        </section>
      </section>
    </section>
    <section>
      <section style="margin: 10px auto">
        <section
          style="
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
          "
        >
          <section style="width: 8px; margin-top: 6px">
            <section
              style="
                width: 8px;
                height: 8px;
                background: #b7dde8;
                border-radius: 100%;
                overflow: hidden;
              "
            ></section>
          </section>
          <section
            style="
              font-size: 14px;
              text-align: justify;
              letter-spacing: 1.5px;
              line-height: 1.75em;
              color: #3e3e3e;
              padding: 0px 6px;
              margin-top: -3px;
              box-sizing: border-box;
              margin-bottom: 15px;
            "
          >
            <p>
              <span style="color: #5a5a5a"
                >建立教职员工（含保安、食堂工勤人员等）假期行踪和健康监测机制，全面摸清教职员工返校前14天的健康状况，做到全覆盖、无遗漏。</span
              >
            </p>
          </section>
        </section>
        <section
          style="
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 5px;
          "
        >
          <section style="width: 8px; margin-top: 6px">
            <section
              style="
                width: 8px;
                height: 8px;
                background: #b7dde8;
                border-radius: 100%;
                overflow: hidden;
              "
            ></section>
          </section>
          <section
            style="
              font-size: 14px;
              text-align: justify;
              letter-spacing: 1.5px;
              line-height: 1.75em;
              color: #3e3e3e;
              padding: 0px 6px;
              margin-top: -3px;
              box-sizing: border-box;
              margin-bottom: 15px;
            "
          >
            <p>
              <span style="color: #5a5a5a"
                >教职员工原则上不再外出，并留足14天自我观察时间。</span
              >
            </p>
          </section>
        </section>
        <section>
          <section
            style="
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              margin-top: 5px;
            "
          >
            <section style="width: 8px; margin-top: 6px">
              <section
                style="
                  width: 8px;
                  height: 8px;
                  background: #b7dde8;
                  border-radius: 100%;
                  overflow: hidden;
                "
              ></section>
            </section>
            <section
              style="
                font-size: 14px;
                text-align: justify;
                letter-spacing: 1.5px;
                line-height: 1.75em;
                color: #3f3e3f;
                padding: 0px 6px;
                margin-top: -3px;
                box-sizing: border-box;
                margin-bottom: 15px;
              "
            >
              <p>
                <span style="color: #5a5a5a"
                  >对已外出（除仍在湖北等疫情重点地区外）的教职员工，要提醒抓紧返回并确保14天居家观察期。</span
                >
              </p>
            </section>
          </section>
        </section>
        <section>
          <section
            style="
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              margin-top: 5px;
            "
          >
            <section style="width: 8px; margin-top: 6px">
              <section
                style="
                  width: 8px;
                  height: 8px;
                  background: #b7dde8;
                  border-radius: 100%;
                  overflow: hidden;
                "
              ></section>
            </section>
            <section
              style="
                font-size: 14px;
                text-align: justify;
                letter-spacing: 1.5px;
                line-height: 1.75em;
                color: #3f3e3f;
                padding: 0px 6px;
                margin-top: -3px;
                box-sizing: border-box;
                margin-bottom: 15px;
              "
            >
              <p>
                <span style="color: #5a5a5a"
                  >要提前安排教学与工勤岗位，确保按要求开学。</span
                >
              </p>
            </section>
          </section>
        </section>
      </section>
    </section>
    <section>
      <p><br /></p>
    </section>
    <section>
      <section
        style="
          height: 50px;
          box-sizing: border-box;
          color: inherit;
          margin-bottom: -20px;
        "
      >
        <section
          style="
            height: 100%;
            width: 50px;
            border-top: 2px solid #c6c6c7;
            border-right-color: #c6c6c7;
            border-bottom-color: #c6c6c7;
            border-left: 2px solid #c6c6c7;
            box-sizing: border-box;
            color: inherit;
            overflow: hidden;
          "
        ></section>
        <section
          style="
            display: inline-block;
            color: #ac1d10;
            clear: both;
            box-sizing: border-box;
            border-color: #ac1d10;
            height: 0px;
            overflow: hidden;
          "
        ></section>
      </section>
      <section
        style="margin: -45px 0.3em 0px; padding: 0.8em; box-sizing: border-box"
      >
        <p>
          <img
            style="width: auto; margin: 0px"
            src="https://bdn.135editor.com/files/images/20200724/618560e5cda4d9d8f9cc91900ab74c09.jpg"
            data-ratio="0.5913140311804009"
            data-op="change"
            title=""
            alt=""
            data-w="898"
          />
        </p>
      </section>
      <section
        style="
          height: 50px;
          box-sizing: border-box;
          color: inherit;
          margin-top: -45px;
        "
      >
        <section
          style="
            height: 100%;
            width: 50px;
            float: right;
            border-bottom: 2px solid #c6c6c7;
            border-top-color: #c6c6c7;
            border-right: 2px solid #c6c6c7;
            border-left-color: #c6c6c7;
            box-sizing: border-box;
            color: inherit;
            overflow: hidden;
          "
        ></section>
      </section>
    </section>
    <section>
      <p><br /></p>
    </section>
    <section style="text-align: center" align="center">
      <p>
        <span style="color: #5a5a5a">END</span>
      </p>
    </section>
    <section>
      <section style="width: 35px; margin: 0px auto">
        <img
          style="width: 100%; display: block"
          src="https://image2.135editor.com/mmbiz_gif/4BY4nn87ITkYibXSrg4akQicFianNJCG2W3iaKXPXwZkxWQF5Dth5XkjRDxFr7coiajCXeKoKL1jqLT501iazy11pxXw/0?wx_fmt=gif"
          data-ratio="1.345"
          data-w="200"
        />
      </section>
    </section>
    <section style="text-align: center; letter-spacing: 1.5px" align="center">
      <p>
        <span style="font-size: 12px; color: #5a5a5a">排版 | 135编辑器</span>
      </p>
      <p>
        <span style="font-size: 12px; color: #5a5a5a">文章 | 网络（侵删）</span>
      </p>
      <p>
        <span style="font-size: 12px; color: #5a5a5a">图文 | 不可商用</span>
      </p>
    </section>
  </section>
</section>
