<section>
  <section style="margin-top: 10px; text-align: center; padding-top: 10px">
    <section
      style="display: inline-block; background: rgb(100, 179, 34); height: 34px"
    >
      <section
        style="
          border: 1px solid rgb(100, 179, 34);
          padding: 0 20px;
          background: rgb(255, 255, 255);
          height: 34px;
          margin: -5px 5px 5px -5px;
        "
      >
        <section
          style="
            width: 34px;
            display: inline-block;
            margin-top: -10px;
            margin-right: 10px;
          "
        >
          <img
            style="width: 100%"
            src="https://wximg.yiban.io/img_proxy?src=http://mmbiz.qpic.cn/mmbiz_png/O9BwJiaa4ayXQFtXXFAS6NuJOCTwic4icSJ6vuZMOe6BzNMx3ibiaZnZRW86ES08MPa6rvRcbo56hh6fEprzia0VkQGg/0"
          />
        </section>
        <section style="display: inline-block">
          <section
            style="
              font-size: 24px;
              color: rgb(100, 179, 34);
              line-height: 34px;
              vertical-align: top;
              min-width: 1px;
              border-color: rgb(100, 179, 34);
            "
          >
            <p>
              <strong>
                <span>01</span>
              </strong>
            </p>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
